body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}

html {
  overflow-y: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.carousel-control-next,
.carousel-control-prev {
  width: 50%;
  height: 50%;
  margin-top: auto;
  margin-bottom: auto;
}


.carousel-img {
  height: 50vw;
 
}

.album-img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  object-position: 50% 50%;
  transition: opacity 1s ease-in-out;
}

@media screen and (max-width: 992px) {
  .album-img {
        height: 100%;
    }
  
}


@media screen and (max-width: 768px) {
  .carousel-img {
    height: 80vw;
  }
  .carousel-p
  {
    white-space: nowrap; 
    width: 100%; 
    overflow: hidden;
    text-overflow: ellipsis; 
   }
  
}
